html{
    font-family: Roboto, Arial, sans-serif;;
}
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
  }
  
  /* */
  
  div[contenteditable=true] {
    border: 1px dashed #AAA;
    color: rgb(174, 174, 190);
    padding: 15px;
  }
  div[contenteditable=true]:focus {
    
    border: 1px dashed #AAA;
    color: black;
    padding: 15px;
  }
  pre {
    background:#EEE;
    padding:5px;
    
  }

.newProjectViewForm {
    max-width: 300px;
    padding: 10px;
    
}

.newProjectViewForm input[type=text]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.newProjectViewForm input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

.newProjectViewForm .addButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.newProjectViewForm .cancelButton {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
.newProjectViewForm .addButton:hover, .cancelButton:hover, .newBookButton:hover {
    opacity: 1;
}

.project-td{
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    list-style: none;
    word-wrap: normal;
    width: 34em;
    word-break: break-all;
    outline: none;
}

.header{
    /* border: solid 1px black; */
    text-align: center;
    margin-left: 23%;
    width: 53%;
    font-size: 30px;
}

.todoTitle{
    border: solid 1px black;
    
    margin-left: 27%;
    width: 44%;
    margin-top: 2%;
    border-bottom-color: rgb(156, 148, 148);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    
    height: 17px;
    color: black;
    resize: none;
    overflow: auto;
    height: auto;
    display: hidden;
}

.todoInput{
    border: solid 1px black;
    
    margin-left: 27%;
    width: 45%;
    margin-top: 2%;
    border-bottom-color: rgb(156, 148, 148);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin: 27px 0px 0px 364.5px;
    height: 17px;
    width: 618px;
    resize: none;
    overflow: auto;
    height: auto;
}

.todoTextNode{
    border: solid 1px black;
    text-align: center;
}

.addButtonTodo{
    text-align: center;
}

#table2{
    margin-left: 27%;
    width: 45%;
}

.container{
    position: fixed;
    /* border: solid 1px; */
    width: 23%;
    flex-direction: column;
    left: 0;
    height: 100vh;
    
    top: 0;
    right: -240px;
    right: calc(var(--drawer-width)*-1);
    transform: translateX(0);
    background: #e6e6e6;
    /* overflow-y: scroll; */
    z-index: var(--nav-drawer-z-index);
    transition: transform .2s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    transform: translate3d(calc(var(--drawer-width)*-1),0,0);
    transition-timing-function: ease-in;
    float: left;
}

.projectButton{
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0 15px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    outline: none;
    margin-left: 25%;
    margin-top: 10%;
    border: 1px solid transparent;
    background-color: green;
    
}

.projectButton:hover{
    transform: scale(1.1);
}
.projectButton:active{
    transform: scale(1.0);
}
.projectButtonLabel{
    position: absolute;
    margin-left: 45%;
    margin-top: 13.5%;
    height: 50px;
    font-size: 20px;
}

.plusSign{
    font-size: 40px;
    color: white;
    margin-left: -5.5px;
    margin-top: -2.6px;
}

.addButtonTodo{
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    outline: none;
    margin-left: 74.5%;
    margin-top: -3%;
    border: 1px solid transparent;
    background-color: green;
}
.addButtonTodo:hover{
    transform: scale(1.1);
}
.addButtonTodo:active{
    transform: scale(1.0);
}


.plusSign2{
    font-size: 33px;
    color: white;
    margin-left: -9.5px;
    margin-top: -3.6px;
}

.nameCell {
    list-style: none;
    word-wrap: normal;
    width: 34em;
    word-break: break-all;
}
.button{
    
    display: inline-block;
    border: 0px solid gray;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    font-size: 35px;
    width: 5px;
    margin-left: 10px;
    margin-top: 4px;
    outline: none;
}
.button:hover{
    transform: scale(1.1);
}
.button:focus{
    transform: scale(1.0);
}
.priority {
    width: 70px;
    border-radius: 50px;
}

.prio{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 6px 2px 6px 2px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    width: 75px;
}

.isDoneButton{
    display: inline-block;
    border: 0px solid gray;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    font-size: 35px;
    outline: none;
}

.isDone{
    list-style: none;
    word-wrap: normal;
    width: 34em;
    word-break: break-all;
    text-decoration: line-through;
}

.remove2{
    
    display: inline-block;
    border: 0px solid gray;
    border-radius: 4px;
    background-color: #e6e6e6;
    cursor: pointer;
    white-space: nowrap;
    font-size: 35px;
    margin-left: 10px;
    margin-top: 4px;
    outline: none;
}
.remove2:hover{
    transform: scale(1.1);
}
.remove2:focus{
    transform: scale(1.0);
}